# Node modules
node_modules/

# VitePress build output
.vitepress/dist/

# VitePress cache
.vitepress/cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional: local env files
.env
.env.*.local

# Optional: VSCode settings
# .vscode/

# macOS system files
.DS_Store

# Local temp files or folders
temp
temp-*
temp.*
*.tmp
